input.memory_slot {
  font-size: x-small;
  background-color: whitesmoke;
}

.box {
  font-size: smaller;
}

.pane {
  background-color: white;
  color: black;
}

.markCode {
  background-color: lightgrey;
}

.riobeachonsummer {
  --density: 0.125;
}

input.register {
  line-height: 0em;
}

input.program_counter {
  background-color: var(--bad-bg);
}

input.stack_pointer {
  background-color: var(--ok-bg);
}

input.return_address_pointer {
  background-color: var(--warn-bg);
}

td.memorySlot {
  padding-inline-end: 0em;
}

#outputPane {
  height: 50em;
  overflow-y: scroll;
}

#statusBox {
  height: 6em;
}

#currentInstructionBox {
  height: 10em;
}